[package]
name = "tokio-rat"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = "0.4.40"
crossterm = "0.28.1"
ratatui = "0.29.0"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
tungstenite = "0.26.2"
url = "2.5.4"
